%script(type="text/javascript" src="js/book.js")
.thumbnail
  - unless book.thumbnail.nil?
    %img{ src: book.thumbnail, alt: book.title }

    %h4.title= book.title

  - unless book.authors.nil?
    .authors
      = book.authors

  - if route[:action] == '/claims'
    %button.book_submit.btn.btn-primary(data-book-id="#{book.id}")
      %i.icon-download-alt.icon-white
      Claim

    -# Modal
    .modal.hide(style="display: none;"){ id: 'modal' + book.id.to_s }
      %form.modal-form(action="/claims" method='POST')
        .modal-header
          %button.close(data-dismiss="modal")= '×'
          %h3 Claim this book
        .modal-body
          - unless book.thumbnail.nil?
            .cover
              %img{ src: book.thumbnail, alt: book.title }
            %input(type="hidden" name="book_id"){ value: book.id }
            %label(for="modal_name") Name
            %input#modal_name(type="text" name="name")

            %label(for="modal_note") Notes
            %textarea#modal_note(type="text" name="note")
        .modal-footer
          %a.btn(data-dismiss="modal") Cancel
          %input.btn.btn-success(type="submit" value="Claim")
  - elsif route[:action] == '/books' and route[:method] == 'DELETE'
    %form{ action: "/books/#{book.id}", method: "DELETE" }
      %button.book_submit.btn.btn-danger(type="submit")
        %i.icon-minus.icon-white
        Remove